/* Estilos generales para todas las pantallas */

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #0066cc;
}

/* Media query para iPhone 5, 5s, SE */

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: #f8f8f8;
    }

    h1 {
        font-size: 24px;
    }
}

/* Media query para iPhone 6, 6s, 7, 8 */

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: #f0f0f0;
    }

    h1 {
        font-size: 28px;
    }
}

/* Media query para iPhone 6 Plus, 6s Plus, 7 Plus, 8 Plus */

@media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3) {
    body {
        background-color: #e0e0e0;
    }

    h1 {
        font-size: 32px;
    }
}

/* Media query para iPhone X, XS, 11 Pro */

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) {
    body {
        background-color: #d8d8d8;
    }

    h1 {
        font-size: 36px;
    }
}

/* Media query para iPhone XR, 11 */

@media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 896px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: #c8c8c8;
    }

    h1 {
        font-size: 40px;
    }
}

/* Media query para iPhone XS Max, 11 Pro Max */

@media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 896px) 
    and (-webkit-min-device-pixel-ratio: 3) {
    body {
        background-color: #b8b8b8;
    }

    h1 {
        font-size: 44px;
    }
}

/* Media query para Redmi Note 7 */

@media only screen 
    and (min-device-width: <tu_valor>)  /* Reemplaza <tu_valor> con el ancho mínimo del dispositivo en píxeles */
    and (max-device-width: <tu_valor>)  /* Reemplaza <tu_valor> con el ancho máximo del dispositivo en píxeles */
    and (-webkit-min-device-pixel-ratio: <tu_valor>) {  /* Reemplaza <tu_valor> con el valor de píxeles de relación de tu dispositivo */
    body {
        /* Tus estilos específicos para Redmi Note 7 */
        background-color: #ff0000;  /* Ejemplo de color de fondo rojo */
    }

    h1 {
        /* Tus estilos para encabezados en Redmi Note 7 */
        font-size: 30px;  /* Ejemplo de tamaño de fuente */
    }
}
